@import './../../../colors.scss';
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    background-image: url('./../../../assets/images/dartboard_icon_light.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: 80%;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 60%;
    align-content: center;
    border-radius: 25px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    justify-content: center;
}

.body-content {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}


.card-body {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 15px;
}
.form-check {
    margin: 0 40px;
    margin-top: 20px;
}
.form-check-input:checked, .form-check-input:focus {
    background-color: $flyingdarts-secundary;
    border-color: $flyingdarts-secundary;
    box-shadow: none;
}

a {
    color: $flyingdarts-secundary;
}

.registration-step-create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.room-number-input {
     border: 1px solid white;
     border-radius: 10px;
     background-color:#4c56c0;
     color: white;
     /* Set the color of the placeholder text to white */

}
::placeholder {
    color: white;
  }
  
  /* Center the placeholder text horizontally */
  input[type="text"] {
    text-align: center;
  }
.create-room-button {
    background-color: #7B81D8;
    color: white;
    border: none;
    margin-top: 20px;
}