<div #carousel id="registrationCarousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let item of carouselItems; let i = index" [class.active]="i === 0">
            <div class="carousel-custom-top">
              <img [src]="item.src" class="d-block w-50 mx-auto" [alt]="item.title">
            </div>
            <div class="carousel-custom-bottom">
              <div class="carousel-caption d-block">
                <h5>{{ item.title }}</h5>
                <p>{{ item.description }}</p>
              </div>
            </div>
          </div>
    </div>
</div>