<div class="container-fluid body-content h-100">
    <div class="card h-100">
        <div class="card-body">
            <div class="container-fluid px-0 h-100">
                <div class="flyingdarts-login-container d-flex">
                    <div *ngIf="(loading$ | async)" class="col-sm-12 col-md-12 col-lg-3 p-0 flyingdarts-mobile-container">
                        <app-loading></app-loading>
                    </div>
                    <div *ngIf="!(loading$ | async)" class="col-sm-12 col-md-12 col-lg-3 p-0 flyingdarts-mobile-container">
                        
                        <h1>welcome</h1>
                        <a id="profileButton" class="form-control go-to-login-button" href="#" [routerLink]="['/', 'login']">
                            login
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>