@import './../../../colors.scss';

$navbar-height: auto;

.flyingdarts-nav {
    margin: 0;
    padding: 0;
    ng-lottie {
        height: 40px;
        width: 40px;
    }
}

.flyingdarts-navbar {
    width: 100%;
    height: $navbar-height;

    nav {
        background-color: unset !important;
        height: $navbar-height;
        padding-left: 20px;
        padding-right: 20px;

        .navbar-brand {
            font-size: 24px;
            font-weight: 600 !important;
            color: #E5E5E5
        }

        a.nav-link {
            font-size: 20px;
            font-weight: 800 !important;
            color: #7B81D8;
        }
    }
}

.btn-profile {
    color: #3C46A7;
    text-decoration: none;
    font-weight: 400;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    .flyingdarts-login-container {
        display: block !important;
        box-sizing: unset !important;
    }

    .flyingdarts-navbar {
        width: 100%;
        height: $navbar-height;

        nav {
            height: $navbar-height;
            padding-left: 20px;
            padding-right: 20px;

            .navbar-brand {
                font-size: 24px;
                font-weight: 600 !important;
                color: #E5E5E5
            }

            a.nav-link {
                font-size: 20px;
                font-weight: 800 !important;
                color: #E5E5E5
            }
        }
    }
}

.user-name-icon {
    padding-left: 10px;
}