@import './../../../colors.scss';
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    justify-content: center;
}
