<div class="lobby-container container-fluid px-0">
    <div class="row h-100 calc-row">
        <div class="col-sm-12 col-md-12 col-lg-4 p-0 calc-container">
            <div class="calc-header">
                <div class="row stats-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-start" colspan="2">{{ title }}</th>
                                <th>Sets</th>
                                <th>Legs</th>
                                <th colspan="3">
                                   
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="throwing">
                                <td id="playerNameField" class="text-start">
                                    {{ (vm$ | async)?.player?.name }}
                                </td>
                                <td><span [class]="'flags fi fi-' + (vm$ | async)?.player?.country + ' fis'"></span>
                                </td>
                                <td id="playerSetsField">{{ (vm$ | async)?.player?.sets }}</td>
                                <td id="playerLegsField">{{ (vm$ | async)?.player?.legs }}</td>
                                <td id="playerScoreField">{{ (vm$ | async)?.player?.score }}</td>
                                <td style="width: 50px; padding: none; margin: none;">
                                    <div *ngIf="(vm$ | async)?.currentPlayer == clientId! && (vm$ | async)?.currentPlayer != null" class="loading-animation">
                                        <ng-lottie [options]="currentPlayerAnimation"></ng-lottie>
                                    </div>
                                    <div *ngIf="(vm$ | async)?.winningPlayer != null && (vm$ | async)?.winningPlayer == clientId!">
                                        <i class='fa-solid fa-crown'></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="history" colspan="6">
                                    {{ (vm$ | async)?.player?.scores!.join(" ") }}
                                </td>
                            </tr>
                            @if(hasOpponent) {
                                <tr>
                                    <td id="opponentNameField" class="text-start">{{ (vm$ |
                                        async)?.opponent?.name }}</td>
                                    <td><span [class]="'flags fi fi-' + (vm$ | async)?.opponent?.country + ' fis'"></span>
                                    </td>
                                    <td id="opponentSetsField">{{ (vm$ | async)?.opponent?.sets }}</td>
                                    <td id="opponentLegsField">{{ (vm$ | async)?.opponent?.legs }}</td>
                                    <td id="opponentScoreField">{{ (vm$ | async)?.opponent?.score }}</td>
                                    <td style="width: 50px; padding: none; margin: none;">
                                        <div *ngIf="(vm$ | async)?.currentPlayer != clientId! && (vm$ | async)?.currentPlayer != null" class="loading-animation">
                                            <ng-lottie [options]="currentPlayerAnimation"></ng-lottie>
                                        </div>
                                        <div *ngIf="(vm$ | async)?.winningPlayer != null && (vm$ | async)?.winningPlayer != clientId!">
                                            <i class='fa-solid fa-crown'></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="history" colspan="5">
                                        {{ (vm$ | async)?.opponent?.scores!.join(" ") }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="(vm$ | async)?.currentPlayer != clientId!" class="wait-for-player">
                <p>Waiting...</p>
            </div>
            <div *ngIf="(vm$ | async)?.currentPlayer == clientId!" class="calculator">

                <div class="top-container">
                    <a id="calcButtonClear" (click)="clearScore()" class="btn button clear-button">CLEAR</a>
                    <a id="calcInputField" class="btn button input">{{ (vm$ | async)?.currentInput }}</a>
                    <a id="calcButtonCheck" (click)="check()" class="btn button check-button disabled">CHECK</a>
                </div>
                <div class="middle-container">
                    <a (disabled)="shouldDisableShortcuts" (click)="inputScore(26)" id="calcButton26"
                        class="btn button">26</a>
                    <a (click)="inputScore(1)" id="calcButton1" class="btn button">1</a>
                    <a (click)="inputScore(2)" id="calcButton2" class="btn button">2</a>
                    <a (click)="inputScore(3)" id="calcButton3" class="btn button">3</a>
                    <a (disabled)="shouldDisableShortcuts" (click)="inputScore(41)" id="calcButton41"
                        class="btn button">41</a>
                
                    <a (disabled)="shouldDisableShortcuts" (click)="inputScore(45)" id="calcButton45"
                        class="btn button">45</a>
                    <a (click)="inputScore(4)" id="calcButton4" class="btn button">4</a>
                    <a (click)="inputScore(5)" id="calcButton5" class="btn button">5</a>
                    <a (click)="inputScore(6)" id="calcButton6" class="btn button">6</a>
                    <a (disabled)="shouldDisableShortcuts" (click)="inputScore(60)" id="calcButton60"
                        class="btn button">60</a>
            
                    <a (disabled)="shouldDisableShortcuts" (click)="inputScore(85)" id="calcButton85"
                        class="btn button">85</a>
                    <a (click)="inputScore(7)" id="calcButton7" class="btn button">7</a>
                    <a (click)="inputScore(8)" id="calcButton8" class="btn button">8</a>
                    <a (click)="inputScore(9)" id="calcButton9" class="btn button">9</a>
                    <a (disabled)="shouldDisableShortcuts" (click)="inputScore(100)" id="calcButton100"
                        class="btn button">100</a>
                </div>
                <div class="bottom-container">
                    <a (click)="noScore()" id="calcButtonNOSCORE" class="btn button no-score-button">NO SCORE</a>
                    <a (click)="inputScore(0)" id="calcButton0" class="btn button">0</a>
                    <a (click)="ok()" id="calcButtonOK" class="btn button ok-button">OK</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 p-0 hide-mobile jitsi-container" id="jitsi-iframe">
            <app-video [nextPlayer]="(vm$ | async)?.currentPlayer!" ></app-video>
        </div>
    </div>
</div>