<div class="container-fluid body-content px-0">
  <div class="card">
    <app-navigation-bar></app-navigation-bar>
    <div class="card-body">
      <div class="container-fluid px-0 h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex hide-mobile">
        <p class="footer-copy pe-1">© Flyingdarts {{currentYear}} - v{{currentVersion}}</p>
        <p class="footer-copy">-</p>
        <p class="footer-copy footer-pp-and-tos ps-1 pe-1" id="pp-link" aria-current="page" href="#" routerLink="/privacy-policy">Privacy policy</p>
        <p class="footer-copy">-</p>
        <p class="footer-copy footer-pp-and-tos ps-1" id="tos-link" aria-current="page" href="#" routerLink="/terms-of-service">Terms of service</p>
      </div>
      <div class="d-flex align-items-center">
        <a href="https://github.com/flyingdarts" class="github-link"><img clas="footer-github-icon"
            src="/assets/github.svg" class="d-block mx-auto" alt="https://github.com/flyingdarts"></a>

        <a href="https://buymeacoffee.com/mikepattynE" class="github-link"><img clas="footer-github-icon"
            src="/assets/coffee.svg" class="d-block mx-auto" alt="https://buymeacoffee.com/mikepattynE"></a>
      </div>
    </div>
  </div>
</div>