.btn {
  background: #ff5e78;
  border: none;
}
.card-header-icons i {
  cursor: pointer;
}
.circle-button {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  padding-left: 4px;
  background: #ff5e78;
  color: white;
}
