<div class="container-fluid body-content h-100">
    <div class="card h-100">
        <div class="card-body">
            <div class="container-fluid px-0 h-100">
                <div class="flyingdarts-login-container d-flex">
                    <div class="col-sm-12 col-md-12 col-lg-4 p-0 flyingdarts-mobile-container">
                        <div class="w-100">
                            <app-loading [lottieOptions]="lottieOptions" [title]="loadingTitle"
                                [subtitle]="loadingSubtitle" [hidden]="!isLoading"></app-loading>

                            <form [hidden]="isLoading" [formGroup]="settingsForm" (ngSubmit)="updateSettings()">
                                <h1 class="fw-bold my-sign-in-header">Edit settings</h1>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>