@import './../../../colors.scss';
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    background-image: url('./../../../assets/images/dartboard_icon_light.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: 80%;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 60% !important;
    align-content: center;
    border-radius: 25px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: calc(100vh - 160px);
    width: 100%;
    justify-content: center;
}

.body-content {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}


.card-body {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 15px;
}
.form-check {
    margin: 0 40px;
    margin-top: 20px;
}
.form-check-input:checked, .form-check-input:focus {
    background-color: $flyingdarts-secundary;
    border-color: $flyingdarts-secundary;
    box-shadow: none;
}

a {
    color: $flyingdarts-secundary;
}

.registration-step-create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.room-number-input {
     border: 1px solid white;
     border-radius: 10px;
     background-color:#4c56c0;
     color: white;
     /* Set the color of the placeholder text to white */

}
::placeholder {
    color: white;
  }
  
  /* Center the placeholder text horizontally */
  input[type="text"] {
    text-align: center;
  }
.create-room-button {
    background-color: white;
    color: white;
    border: none;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: white;
}

.cookies-section {
    width: 100%;
}
// .flyingdarts-mobile-container {
//     color: white;
//     background: #4c56c0;
//     align-items: center;
//     padding: 0 20px !important;
//     align-self: center;
//     height: 100%;
//     align-content: center;
//     height: 100%;
//     border-radius: 10px;
//     justify-content: space-between;
//     display: flex;
//     flex-direction: column;
//     margin-right: 20px;
// }

// .flyingdarts-login-main {
//     width: 100%;
// }

// .flyingdarts-login-container {
//     height: 100%;
//     width: 100%;
//     padding-right: 20px;
// }

// .body-content {
//     margin: 0;
//     padding: 0;
// }

// .card {
//     border: none;
// }


// .card-body {
//     margin: 0;
//     padding: 0;
//     border: none;
//     margin-bottom: 15px;
// }

// .carousel-footer {
//     display: flex !important;
//     padding: 0 20px;
//     justify-content: space-between;
//     height: 40px;

//     p {
//         font-family: 'Poppins';
//         font-size: 1em;
//         color: #3C46A7;
//     }

//     div {
//         button {
//             width: 10px !important;
//             height: 10px !important;
//             background-color: #EFEFEF;
//             border: none !important;
//             opacity: 1 !important;
//             border-radius: 5px;
//         }

//         button:nth-of-type(2) {
//             margin: 0 10px;
//         }

//         button:nth-of-type(3) {
//             margin-right: 10px;
//         }

//         .active {
//             background-color: $flyingdarts-secundary !important;
//         }
//     }
// }

// .form-check-input:checked, .form-check-input:focus {
//     background-color: $flyingdarts-secundary;
//     border-color: $flyingdarts-secundary;
//     box-shadow: none;
// }

// a {
//     color: $flyingdarts-secundary;
// }
// .registration-step-create-profile {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;
//     width: 100%;
//     .profile-form-description {
//         text-align: center;
//         font-size: 12px;
//     }
// }

// /* Media Query for Mobile Devices */
// @media (max-width: 480px) {
//     .top-container {
//         display: none;
//     }
//     .flyingdarts-login-container {
//         padding-right: 0px !important;
//     }
//     .flyingdarts-mobile-container {
//         margin: 0 20px !important;
//     }
// }

// /* Media Query for low resolution  Tablets, Ipads */
// @media (min-width: 481px) and (max-width: 767px) {
//     .top-container {
//         display: none;
//     }
//     .flyingdarts-login-container {
//         padding-right: 0px !important;
//     }
//     .flyingdarts-mobile-container {
//         margin: 0 20px !important;
//     }
// }

// /* Media Query for Tablets Ipads portrait mode */
// @media (min-width: 768px) and (max-width: 1024px) {}

// /* Media Query for Laptops and Desktops */
// @media (min-width: 1025px) and (max-width: 1280px) {}

// /* Media Query for Large screens */
// @media (min-width: 1281px) {}