<div class="container-fluid body-content h-100">
  <div class="card h-100">
    <div class="card-body">
      <div class="container-fluid px-0 h-100">
        <div class="flyingdarts-login-container d-flex">
          <div class="col-sm-12 col-md-12 col-lg-4 p-0 flyingdarts-mobile-container">
            <div class="w-100">
              <app-loading [lottieOptions]="lottieOptions" [title]="loadingTitle" [subtitle]="loadingSubtitle"
                [hidden]="!isLoading"></app-loading>

              <form [hidden]="isLoading" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                <h1 class="fw-bold my-sign-in-header">Edit profile</h1>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="profileFormNickname" class="form-label">Nickname</label>
                      <input formControlName="userName" type="text" class="form-control" id="profileFormNickname"
                        placeholder="johnnyboy" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="profileFormCountry" class="form-label">Country</label>
                      <select formControlName="country" id="profileFormCountry" class="form-select"
                        aria-label="Default select example">
                        <option selected>Select your country</option>
                        <option value="AT">Austria</option>
                        <option value="BE">Belgium</option>
                        <option value="BG">Bulgaria</option>
                        <option value="HR">Croatia</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czechia</option>
                        <option value="DK">Denmark</option>
                        <option value="EE">Estonia</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                        <option value="GR">Greece</option>
                        <option value="HU">Hungary</option>
                        <option value="IE">Ireland</option>
                        <option value="IT">Italy</option>
                        <option value="LV">Latvia</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MT">Malta</option>
                        <option value="NL">Netherlands</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="RO">Romania</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="ES">Spain</option>
                        <option value="SE">Sweden</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="profileFormEmailAddress" class="form-label">Email address</label>
                  <input formControlName="email" type="email" class="form-control" id="profileFormEmailAddress"
                    placeholder="johnnyboy@example.com" />
                </div>
                <div class="mb-3">
                  <p class="profile-form-description">Lorem ipsum dolor sit amet blablabla</p>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn flyingdarts-primary-button mb-3">Next</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>