<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th id="bestOfDisplay" scope="col">Best Of {{ (gameState$ | async)?.game?.sets }}/{{ (gameState$ | async)?.game?.legs }}</th>
        <th scope="col">Sets</th>
        <th scope="col">Legs</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="playerName">{{ getPlayerName((gameState$ | async)?.player) }}</td>
        <td id="playerWonSets">{{ (gameState$ | async)?.player?.sets }}</td>
        <td id="playerWonLegs">{{ (gameState$ | async)?.player?.legs }}</td>
        <td id="playerScore">{{ (gameState$ | async)?.player?.score }}</td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="history d-flex flex-wrap">
            {{ getHistory((gameState$ | async)?.player?.scores) }}
          </div>
        </td>
      </tr>
      <tr [hidden]="(gameState$ | async)?.opponent?.name == ''">
        <td>{{ getOpponentName((gameState$ | async)?.opponent) }}</td>
        <td>{{ (gameState$ | async)?.opponent?.sets }}</td>
        <td>{{ (gameState$ | async)?.opponent?.legs }}</td>
        <td>{{ (gameState$ | async)?.opponent?.score }}</td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="history d-flex flex-wrap">
            {{ getHistory((gameState$ | async)?.opponent?.scores) }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
