<div class="container-fluid body-content h-100">
    <div class="card h-100">
        <div class="card-body">
            <div class="container-fluid px-0 h-100">
                <div class="flyingdarts-login-container d-flex">
                    <div *ngIf="(loading$ | async)" class="col-sm-12 col-md-8 col-lg-4 p-0 flyingdarts-mobile-container">
                        <app-loading></app-loading>
                    </div>
                    <div *ngIf="!(loading$ | async)" class="col-sm-12 col-md-6 col-lg-2 p-0 flyingdarts-mobile-container">
                        <div class="container-auth h-100 w-100">
                            <div class="form-group lobby-card-container">
                                <div class="lobby-card-overlay w-100 h-100"
                                    [class.lobby-card-overlay-hidden]="!shouldShowFriendSettings"
                                    [@rightToLeft]="shouldShowFriendSettings ? 'in' : 'out'">

                                    <ul class="list-inline d-flex justify-content-between mt-3">
                                        <li class="list-inline-item">
                                            <a (click)="openFriendSettings()">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div>
                                        <h1 class="fw-bold my-sign-in-header">configure<br>game<br>
                                            <h6>best of sets ({{ preferedX01Sets }}) legs ({{ preferedX01Legs }})</h6>
                                        </h1>
                                        <div class="game-input">
                                            <div class="qty mt-5">
                                                <span class="count title">sets </span>
                                                <button class="minus bg-dark" (click)="decreaseX01Sets()">-</button>
                                                <input type="number" class="count" name="qty"
                                                    value="{{ preferedX01Sets }}">
                                                <button class="plus bg-dark" (click)="increaseX01Sets()">+</button>
                                            </div>
                                            <div class="qty mt-5">
                                                <span class="count title">legs </span>
                                                <button class="minus bg-dark" (click)="decreaseX01Legs()">-</button>
                                                <input type="number" class="count" name="qty"
                                                    value="{{ preferedX01Legs }}">
                                                <button class="plus bg-dark" (click)="increaseX01Legs()">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <!-- <input class="form-control room-number-input" placeholder="Enter room number"
                                            type="text" value="" id="roomNumber" checked> -->
                                        <button id="gameWithFriendsButton" class="form-control create-room-button"
                                            (click)="saveX01Settings()">save settings</button>
                                    </div>
                                </div>
                                <div class="lobby-card-overlay w-100 h-100"
                                    [class.lobby-card-overlay-hidden]="!shouldShowFriendFaq"
                                    [@leftToRight]="shouldShowFriendFaq ? 'in' : 'out'">

                                    <ul class="list-inline d-flex justify-content-between mt-3 faq-container">
                                        <li class="list-inline-item">
                                            <a (click)="openFriendFaq()">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div>
                                        <h1 class="fw-bold my-sign-in-header faq-header">F.A.Q.</h1>
                                        <div class="container-fluid">
                                            <div class="accordion" id="friendFaq">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#friendFaqOne"
                                                            aria-expanded="true" aria-controls="friendFaqOne">
                                                            How can i select sets or legs?
                                                        </button>
                                                    </h2>
                                                    <div id="friendFaqOne" class="accordion-collapse collapse show"
                                                        data-bs-parent="#friendFaq">
                                                        <div class="accordion-body">
                                                            <p>You can choose game settings by clicking the <i
                                                                    class="material-icons">settings</i> icon.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#friendFaqTwo"
                                                            aria-expanded="false" aria-controls="friendFaqTwo">
                                                            How can i play with a friend?
                                                        </button>
                                                    </h2>
                                                    <div id="friendFaqTwo" class="accordion-collapse collapse"
                                                        data-bs-parent="#friendFaq">
                                                        <div class="accordion-body">
                                                            <p>Once you have created a game, copy the url in the address
                                                                bar
                                                                and send that to your friend!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline d-flex justify-content-between mt-3">
                                    <li class="list-inline-item">
                                        <a (click)="openFriendSettings()">
                                            <i class="material-icons">settings</i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a (click)="openFriendFaq()">
                                            <i class="material-icons">question_mark</i>
                                        </a>
                                    </li>
                                </ul>
                                <h1 class="fw-bold my-sign-in-header">invite<br>a friend<br>501<br>
                                    <h6>best of sets ({{ preferedX01Sets }}) legs ({{ preferedX01Legs }})</h6>
                                </h1>
                                <div class="form-check">
                                    <!-- <input class="form-control room-number-input" placeholder="Enter room number"
                                        type="text" value="" id="roomNumber" checked> -->
                                    <button id="gameWithFriendsButton" class="form-control create-room-button"
                                        (click)="createX01Game()">create room</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!(loading$ | async)" class="col-sm-12 col-md-6 col-lg-2 p-0 flyingdarts-mobile-container">
                        <div class=" container-auth h-100 w-100">
                            <div class="form-group lobby-card-container">
                                <div class="lobby-card-overlay w-100 h-100"
                                
                                    [class.lobby-card-overlay-hidden]="!shouldShowQueueFaq"
                                    [@leftToRight]="shouldShowFriendFaq ? 'in' : 'out'">

                                    <ul class="list-inline d-flex justify-content-between mt-3 faq-container">
                                        <li class="list-inline-item">
                                            <a (click)="openQueueFaq()">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div>
                                        <h1 class="fw-bold my-sign-in-header">F.A.Q.</h1>
                                        <div class="container-fluid">
                                            <div class="accordion" id="rankedFaq">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#rankedFaqOne"
                                                            aria-expanded="true" aria-controls="rankedFaqOne">
                                                            How does this work?
                                                        </button>
                                                    </h2>
                                                    <div id="rankedFaqOne" class="accordion-collapse collapse show"
                                                        data-bs-parent="#rankedFaq">
                                                        <div class="accordion-body">
                                                            <p>You will be randomly matched.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#rankedFaqTwo"
                                                            aria-expanded="false" aria-controls="rankedFaqTwo">
                                                            How is my opponent determined?
                                                        </button>
                                                    </h2>
                                                    <div id="rankedFaqTwo" class="accordion-collapse collapse"
                                                        data-bs-parent="#rankedFaq">
                                                        <div class="accordion-body">
                                                            <p>At the momement there is no special filtering on average
                                                                or elo rating.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#rankedFaqThree"
                                                            aria-expanded="false" aria-controls="rankedFaqThree">
                                                            Can i choose sets or legs?
                                                        </button>
                                                    </h2>
                                                    <div id="rankedFaqThree" class="accordion-collapse collapse"
                                                        data-bs-parent="#rankedFaq">
                                                        <div class="accordion-body">
                                                            <p>At the momement it is not possible to configure game
                                                                settings for this game mode.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline d-flex justify-content-between mt-3">
                                    <li class="list-inline-item">
                                        <a href="#" style="display:none;">
                                            <i class="material-icons">settings</i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a (click)="openQueueFaq()">
                                            <i class="material-icons">question_mark</i>
                                        </a>
                                    </li>
                                </ul>
                                <h1 class="fw-bold my-sign-in-header">play<br>ranked<br>501<br>
                                    <h6>best of sets (1) legs (3)</h6>
                                </h1>
                                <div class="form-check">
                                    <!-- <input class="form-control room-number-input" placeholder="Enter room number"
                                        type="text" value="" id="roomNumber" checked> -->
                                    <button id="gameWithFriendsButton" class="form-control create-room-button"
                                        (click)="joinX01Queue()">play now!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>