@import './../../../colors.scss';
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    background-image: url('./../../../assets/images/dartboard_icon_light.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: 80%;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 60%;
    align-content: center;
    border-radius: 25px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    justify-content: center;
}

.body-content {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}


.card-body {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 15px;
}
.form-check {
    margin: 0 40px;
    margin-top: 20px;
}
.form-check-input:checked, .form-check-input:focus {
    background-color: $flyingdarts-secundary;
    border-color: $flyingdarts-secundary;
    box-shadow: none;
}

a {
    color: $flyingdarts-secundary;
}

.registration-step-create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.disable-pointer-events {
    position: relative; /* Make sure the parent is relatively positioned */
}
.disable-pointer-events-disabled {
    display: none;
}
.disable-pointer-events-enabled {
    display: block;
    pointer-events: none;
}
.disable-pointer-events-overlay {
    background-color: red;
    pointer-events: none; /* Make sure the overlay doesn't intercept clicks */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Additional styling for the overlay (e.g., background color) */
    background-color: rgba(0, 0, 0, 0.5);
}
.btn-facebook-login {
    background: $flyingdarts-secundary;
    margin: 0 auto;
    color: white;
    margin-bottom: 20px;
    i {
        margin-right: 5px;
        color: #1877F2;
    }
}

.login-container { 
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}