<div class="container-fluid body-content h-100">
  <div class="card h-100">
    <div class="card-body">
      <div class="container-fluid px-0 h-100">
        <div class="flyingdarts-login-container d-flex">
          <div class="col-sm-12 col-md-12 col-lg-4 p-0 flyingdarts-mobile-container">
            <div *ngIf="(loading$ | async)" class="container-auth h-100">
              <app-loading [title]="loadingTitle" [subtitle]="loadingSubtitle"></app-loading>
            </div>
            <div *ngIf="!(loading$ | async)" class=" container-auth h-100 login-container">
              <h1 class="fw-bold my-sign-in-header">Login</h1>
              <button id="loginButton" class="btn btn-facebook-login" [disabled]="!canLogin" (click)="login()">
                <i class="fa-brands fa-square-facebook"></i> Login with Facebook
              </button>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" (value)="accepted" (change)="accept()"
                  id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  <span>
                    I agree to the <a href="/terms-of-service">Terms of Service</a><br />
                    and <a href="/privacy-policy">Privacy policy</a>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>